<div id="carousel">
  <div id="carousel-example-generic" class="carousel slide gsdk-transition" data-ride="carousel">

    <ol class="carousel-indicators">
      <% @page.images.each_with_index do |image, index| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>"></li>
      <% end %>
    </ol>

    <div class="carousel-inner">
      <% @page.images.each_with_index do |image, index| %>
        <div class="item<%= ' active' if index.zero? %>">
          <%= image_tag image.url, class: "img-responsive center-block" %>
        </div>
      <% end %>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>

  </div>
</div>

<div class="space-30"></div>

<div class="main">
  <div class="container tim-container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <%= raw @page.content_for(:body) %>
      </div>
    </div>

    <% if @page.content_for?(:circles) %>
      <div class="space-30"></div>
      <hr>
      <div class="row three-image-links text-center">
        <%= raw @page.content_for(:circles) %>
      </div>
      <hr>
    <% end %>
    
    <div class="space"></div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <%= raw @page.content_for(:side_body) %>
      </div>
    </div>
  </div>
</div>
