<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <div class="space mobile-space"></div>
      <section id="page">
        <%= yield %>
      </section>
      <div class="space"></div>
      <footer>
        <div class="row">
         <div class="col-md-12 text-center">
            <%= render "/refinery/footer" -%>
          </div>
        </div>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
